<div class="grid grid-rows-2">
    <div class="">
        <p-table #dt2 [value]="data" [lazy]="true" (onLazyLoad)="loadData($event)"
                 dataKey="id"
                 [paginator]="true"
                 [scrollable]="true"

                 scrollDirection="horizontal"
                 selectionMode="single" [(selection)]="selectedRow"
                 [rows]="10" [totalRecords]="totalRecords" [loading]="loading" (onRowSelect)="loadLogDetail()">

            <ng-template pTemplate="header">

                <tr>
                    <th *ngFor="let col of cols" pSortableColumn="{{col.field}}">
                        {{col.header}}
                        <p-sortIcon field="{{col.field}}"></p-sortIcon>

                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr [pSelectableRow]="item">
                    <ng-container *ngFor="let col of cols">
                        <td *ngIf="col.type === 'boolean'">
                            <i class="pi"
                               [ngClass]="{'true-icon pi-check-circle': item[col.field],
                                'false-icon pi-times-circle': !item[col.field]}">
                            </i>
                        </td>
                        <td *ngIf="col.type === 'text'">{{item[col.field]}}</td>
                        <td *ngIf="col.type === 'longDate'">{{item[col.field] |date : 'YYYY-mm-dd HH:mm:ss'}}</td>
                    </ng-container>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div class="pt-2">
        <p-card header="LDAP Configuration Log">
            <textarea readonly class="w-full pt-2 h-40" [textContent]="logDetail"></textarea>
        </p-card>

    </div>
</div>