<div class="flex-auto ">
    <h2 mat-dialog-title>Update User Password</h2>
    <form class="mt-8" [formGroup]="form">
        <mat-dialog-content class="mat-typography">
            <mat-form-field class="w-full">
                <mat-label>Username</mat-label>
                <input matInput type="text" formControlName="username"/>
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="newPassword" placeholder="Password"/>
                <mat-error>
                    <form-error [form]="form" name="newPassword"></form-error>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm Password"/>
                <mat-error>
                    <form-error-confirm-password [form]="form" name="confirmPassword" password="newPassword">
                    </form-error-confirm-password>
                </mat-error>
            </mat-form-field>

        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close="">Cancel</button>
            <button mat-button [disabled]="!form.valid" (click)="updatePassword()">Save</button>
        </mat-dialog-actions>

    </form>
</div>
