<div class="flex-auto ">
    <h2 mat-dialog-title>Change Reporting Units</h2>
    <mat-dialog-content class="mat-typography">
        <p-pickList [source]="reportingUnits" [target]="targetReportingUnits" sourceHeader="Available"
                    targetHeader="Selected"
                    [dragdrop]="true"
                    [responsive]="true" [sourceStyle]="{'height':'20rem'}" [targetStyle]="{'height':'20rem'}"
                    filterBy="name"
                    sourceFilterPlaceholder="Search by name" targetFilterPlaceholder="Search by name">
            <ng-template let-reportingUnit pTemplate="item">
                <div class="product-item">
                    <div class="product-list-detail">
                        <span class="mb-2">{{reportingUnit.name}}</span>

                    </div>
                </div>
            </ng-template>
        </p-pickList>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close="" color="warn">Close</button>
        <button mat-button color="primary" (click)="saveReportingUnits()">Save</button>
    </mat-dialog-actions>
</div>