.blue-circle {
    background-color: #1ba1e2;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 120px;
}

ul {
    list-style: circle;
}

