<div class="flex flex-col flex-auto min-w-0">
    <div class="flex">
        <div class="flex-auto"></div>
        <div class="pt-6">
            <button type="button"
                    class="ml-auto  p-button-rounded p-button-sm"
                    pButton icon="pi pi-angle-double-down" label="Actions"
                    (click)="menu.toggle($event)"></button>
            <p-menu appendTo="body" #menu [popup]="true" [model]="menuItems"></p-menu>
        </div>
    </div>
    <mat-spinner *ngIf="loading"></mat-spinner>
    <mat-tab-group>
        <mat-tab label="Violations">
            <risk-analysis-online-summary-violation-result [jobId]="jobId"></risk-analysis-online-summary-violation-result>
        </mat-tab>
        <mat-tab label="Summary Report">
            <risk-analysis-online-summary-summary [jobId]="jobId"></risk-analysis-online-summary-summary>
        </mat-tab>
        <mat-tab label="Detail">
            <risk-analysis-online-summary-detail [jobId]="jobId"></risk-analysis-online-summary-detail>
        </mat-tab>
    </mat-tab-group>

</div>