<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-6 sm:p-10">
        <p-table #dt2 [value]="users" [loading]="loading" dataKey="id" [paginator]="true" [rows]="10"
            [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable" selectionMode="single"
            [(selection)]="selectedUser" [globalFilterFields]="filterColumns">

            <ng-template pTemplate="caption">
                <div class="flex items-center">
                    <h2 class="text-xl">User Management</h2>
                    <div class="ml-auto">
                        <p-multiSelect class="mr-3" [options]="cols" [(ngModel)]="selectedColumns"
                            optionLabel="header" selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}"
                            placeholder="Choose Columns">
                        </p-multiSelect>

                        <button type="button" class="ml-auto  p-button-rounded p-button-sm" pButton
                            icon="pi pi-angle-double-down" label="Actions" (click)="menu.toggle($event)"></button>
                        <p-menu appendTo="body" #menu [popup]="true" [model]="menuItems"></p-menu>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let col of selectedColumns" pSortableColumn="{{col.field}}">
                        <span class="flex items-center font-bold">
                            {{col.header}}
                            <span class="ml-auto flex items-center text-sm">
                                <p-sortIcon field="{{col.field}}"></p-sortIcon>
                                <p-columnFilter type="{{col.type}}" field="{{col.field}}" display="menu"></p-columnFilter>
                            </span>
                        </span>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-user>
                <tr [pSelectableRow]="user">
                    <ng-template ngFor let-item [ngForOf]="selectedColumns">
                        <td *ngIf="item.field!=='enabled'">
                            {{user[item.field]}}
                        </td>

                        <td *ngIf="item.field ==='enabled'">
                            <i class="pi"
                                [ngClass]="{'true-icon pi-check-circle': user.enabled, 'false-icon pi-times-circle': !user.enabled}">

                            </i>
                        </td>
                    </ng-template>
                </tr>
            </ng-template>
        </p-table>
    </div>


</div>